$colors: (
    common: (
        white: #ffffff,
        black: #000,
    ),
    heading: (
        primary: #000,
    ),
    grey: (
        1:#F1F1F1,
        2:#F5F6F8,

    ),
    text: (
        body:#000,
        1:#000,
    ),
    theme: (
        1: #2B2C31,
        2:#4F5155

    ),
    border: (
        1: #000,
    )
);
