@use '../utils' as *;
   


.product__area{
    padding-top: 100px;
    padding-bottom: 80px;
    background-color: #23252A;
    @media #{$sm}{
        padding-top:40px;
        padding-bottom: 40px;
    }
    @media #{$xs}{
        padding-top:40px;
        padding-bottom: 40px;
    }


    // slider product 
    & .product__slider{ 
        background-color: #4F5155;
        border-radius:30px;
        padding:50px 60px;
        margin-bottom: 100px;
        @media #{$xs}{
            padding:30px;
        }

        & .slider__left{
            & h3{
                font-size: 35px;
                color:#fff;
                margin-bottom: 131px;
                font-weight: 400;
                @media #{$sm}{
                    font-size: 26px;
                    margin-bottom: 30px;
                }
                @media #{$xs}{
                    font-size: 26px;
                    margin-bottom: 30px;
                }
            }
            & .slider__left__wrapper{
                & .slider__left__thumb{
                    @media #{$sm}{
                        width:75%;
                        margin:auto;
                    }
                    @media #{$xs}{
                        width:75%;
                        margin:auto;
                    }
                    &  img{
                        
                        @media #{$xs}{
                            width:100%;
                        }
                    }
                }
            }
        }
        
        & .slider__right__top{
            margin-bottom: 50px;
            & .slider-nav{
                position: relative;
                & .slick-list{
                    max-width:450px;
                    width:100%;
                    margin-left: 30px;
                }

                & slick-track{
                    transform: translate3d(-436px, 0px, 0px);
                }
                & .slick-slide{
                    // border:1px solid green;
                }

                & .slick-prev{
                    position: absolute;
                    top: 20%;
                    left: -20px;
                    width: 40px;
                    height: 40px;
                    background-color: #fff;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    z-index: 9;
                    justify-content: center;
                }
                & .slick-next{
                    position: absolute;
                    top: 20%;
                    right: 0;
                    width: 40px;
                    height: 40px;
                    background-color: #fff;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    z-index: 9;
                    justify-content: center;
                }
            }


            & .slick-current{
                & .top__box{
                    & .top__box__img{
                        background-color: #fff;
                    }
                    & h4{
                        color:#fff;
                    }
                }
            }
            
            & .top__box{ 
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 0 47px;
                text-align: center;

                & .top__box__img{
                    width:100px;
                    height:100px;
                    background-color: #959799;
                    text-align: center;
                    line-height: 100px;
                    border-radius:50%;
                    display:flex;
                    justify-content: center;
                    align-items: center;
                }
               
                & h4{
                    font-size: 13px;
                    font-weight: 400;
                    color:#959799;
                    margin-top: 10px;
                }
            }
        }

        & .slider__content{
            & .slider__content__box{
                padding-right: 30px;

                & h3{
                    font-size: 36px;
                    font-weight: 400;
                    color:#fff;
                    margin-bottom: 10px;
                }
                & p{
                    font-size: 20px;
                    color:#fff;
                    margin-bottom: 20px;
                }

                & ul{
                    padding: 0;
                    margin: 0;
                    list-style: none;
                    margin-bottom: 26px;
                    padding-left: 30px;
                    & li{
                        font-size: 17px;
                        color:#fff;
                        margin-bottom: 10px;
                        font-weight: 400;
                    }
                }
                & a{
                    padding:20px 40px;
                    font-size: 17px;
                    font-weight: 700;
                    color:#fff;
                    border:2px solid #fff;
                    border-radius:30px;
                    display:inline-block;
                }
            }
        }
    }




    // feature table 
    & .feature__table{
        background-color: #4F5155;
        padding:50px;
        border-radius:30px;
        & thead{
           & tr{
            align-items: center;
            dislay:flex;
            & th{

                padding-top:10px;
                padding-bottom: 50px;

                &:first-child{
                    font-size: 32px;
                    color:#fff;
                    font-weight: 400;
                }
                &:last-child{
                    font-size: 18px;
                    color:#fff;
                    font-weight: 700;
                    text-transform: capitalize;
                }
                & img{
                    width:60px;
                }
            }
           }
        }

        & tbody{
            & tr{
                & td{
                    color:#fff;
                    font-size: 17px;
                    font-weight: 400;
                    padding-top:26px;
                    padding-bottom: 28px;
                    & .active{
                        width:38px;
                        height:38px; 
                        background: #91E18B;
                        text-align: center;
                        line-height: 38px;
                        display:inline-block;
                        border-radius:50% ;
                        color:#000;
                    }
                    & .inactive{
                        width:38px;
                        height:38px; 
                        background: #ABABAB; 
                        text-align: center;
                        line-height: 38px;
                        display:inline-block;
                        border-radius:50% ;
                        coor:#000
                    }
                }
            }
        }
    }
}